.register {
  max-width: 100vw;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e9e9e9;
}

.register form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffffff;
  max-width: 350px;
  width: 100%;
  max-height: 350px;
  height: 100%;
  padding: 10px;
  border-radius: 20px;
}

.register form h2{
  font-size: 1em;
  color: #454545;
  margin-bottom: 40px;
}

.register form input, .register form button {
  width: 100%;
  max-width: 250px;
  padding: 7px 7px;

  border-radius: 7px;
}

.register form input {
  border: solid 1px #d6d6d6;
  margin-bottom: 10px;
  font-size: 16px;
}

.register form button {
  border: none;
  background-color: #13cb3b;
  color: white;
  margin-top: 7px;
}

.register form p {


  color: rgb(184, 75, 75);
  margin-top: 7px;
}

.register form span {

  padding: 7px 5px;
  font-weight: 600;
  color: #656565;
}


