/* * {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

html
{/* a cada 1rm sera 10px
  font-size: 32.5%;
}*/

:root{
    /* --block-color: #f6f6f6;
    --inner-input-color:#f7f7f7; */
    --block-color: #ffffff;
    --inner-input-color:#ffffff;
    --general-font:"Public Sans", system-ui, sans-serif;
  }
  
  .post-exemple{
    padding: 6px 10px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    font-family: var(--general-font);
    background-color: white;
    border: solid 1px #ddd;
    width: 100%;
    height: 100%;
    max-width: 95%;
    overflow-y: auto;
    max-width: 650px;
    margin-bottom: 40px;
    color: #000;
    /* margin-top: 48px; */
  }
  
  .post-exemple::-webkit-scrollbar {
    width: 6px;
  }
  
  .post-exemple::-webkit-scrollbar-track {
    background: #d4d4d4; 
  }
  
  .post-exemple::-webkit-scrollbar-thumb {
    background-color: #afafaf;
    border-radius: 20px;       
    border: 3px solid #afafaf; 
  }
  
  .post-exemple .post_title_label{
    padding: 60px 0 5px 0;
  }
  
  .post-exemple .editable_hint{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px 0 5px 0;
  }
  
  .post-exemple .editable_icon{
    /* border: dashed 2px #B4B4B4; */
    max-width: 30px;
    max-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }
  
  .post-exemple .editable_icon img{
    width: 30px;
    height: 30px;
  }
  
  .post-exemple .post_title_label span,
  .post-exemple .subtitle_box span{
    font-size: 2.5em;
    font-weight: 500;
    color: #636363;
    margin-left: 5px;
  }
  
  .post-exemple .postTitle{
    font-family: var(--general-font);
    font-size: 7em;
    /* margin-top: 64px; */
    padding: 8px;
    margin: 6px 0 0 0;
    border: solid 1px #f0f0f0;
    border-radius: 5px;
    outline: none;
  }
  
  .post-exemple .subtitle_box {
    margin: 9px 0 0 0;
  }
  
  .post-exemple .subtitle {
    font-size: 3.1em;
    padding: 8px;
    border: solid 1px #f0f0f0;
    outline: none;
    margin: 6px 0 0 0;
  }
  
  .post-exemple .post-info{
    margin: 30px 0;
    padding-left: 8px;
    display: flex;
    width: 100%;
    font-size: 12px;
    flex-direction: column;
    justify-content: right;
  }
  
  .post-exemple .post-info span{
    border-bottom: solid 3px #000000;
  }
  
  .post-exemple .post-info .category{
    background-color: #2184CB;
    color: #fff;
    padding: 7px;
    width: fit-content;
  }
  
  .post-exemple #post-content{
    width: 100%;
  }
  
  #post-content .block-vessel{
    width: 100%;
    margin: 9px 0;
  }
  
  #post-content .block{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border: solid 1px #ddd;
    border-radius: 11px;
    /* overflow: hidden; */
  }

  #post-content .txt{
    border: none;
  }
  
  #post-content .block .delete_block{
    font-size: 3em;
    position: absolute;
    top: 9px;
    right: 13px;
    text-shadow: 0px 0px 1px black;
    padding: 0 5px;
  }
  
  #post-content .block .block-ctrl{
    margin-left: 4px;
    padding: 4px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px #ddd;
  }
  
  #post-content .block .block-ctrl input[type=text]{
    padding: 6px;
    border-radius: 6px 0 0 0;
    border-top: solid 2px var(--block-color);
    border-left: solid 2px var(--block-color);
    border-right: none ;
    border-bottom: none ;
    background-color: var(--inner-input-color);
    color: #7a7a7a;
    outline: none;
    width: 100%;
  }
  
  #post-content .block .block-ctrl button{
    border: none;
    background-color: transparent;
    margin-right: 7px;
    padding: 6px 8px;
    border-radius: 0 3px 0 0;
    color: black;
    font-size: 3em;
    text-shadow: 0px 0px 1px black;
  }
  
  #post-content .block .block-content img{
    border: solid 4px var(--block-color);
  }
  
  #post-content .block-content{
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 70px;
    background-color:  var(--block-color);
  }
  
  @media (max-width: 323px)
  {
    .post-exemple
     {
      max-width: 100%;
     }
  }
  

#webSiteContent::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}

#webSiteContent::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}

#webSiteContent::-webkit-scrollbar-thumb {
    background: #dad7d7;
}

#webSiteContent {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* overflow-x: hidden; */
    background-color: white;
    font-size: 32.5%;
    margin-bottom: 40px;
    position: relative;
}

#webSiteContent .controls {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 0;
    max-height: 550px;
}

 .post_tools {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 3px 0;
    border: solid 1px #bebebe;
    width: 100%;
    max-width: 650px;
}

.add-features {

}

button font{
    pointer-events: none;
}

.finish-section {
    /* position: absolute; */
    /* top: 73px;
    right: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    display:flex;
    flex-direction: row;
    margin-top: 10px; */
    display:flex;

}

 .hidden{
    display: none;
}

.finish-section button {
    border: none;
    background-color: transparent;
    /* margin: 5px 0;
    width: 40px;
    height: 40px;
    background-color: white;
    color: black;
    box-shadow: 0 5px 10px rgb(0 0 0 / 30%);
    border: solid 1px #ddd;
    border-radius: 10px; */
    
    /* box-shadow: inset 0 -5px 5px rgb(0 0 0 / 20%), 0 5px 10px rgb(0 0 0 / 20%), 0 10px 15px rgb(0 0 0 / 20%) */
}

.finish-section .save img{
    width: 30px;
    pointer-events: none;
}

.finish-section .simulate img{
    width: 30px;
    height: 30px;
    pointer-events: none;
}

.add-features button {

    /* width: 40px;
    height: 40px;
    background-color: white;
    color: black;
    border-radius: 50px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 30%); */
    border: none;
    background-color: transparent;
}

.add-features button img{

    width: 30px;
    height: 30px;
    pointer-events: none;
}

.map-placement {
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    max-width: 45px;
    /* max-height: 80%; */
    width: 100%;
    margin-left: 12px;
}

.hidden-map {
    display: none;
}

.map {
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: column;
    width: 100%;
    color: black;
    background-color: #f6f6f6;
    padding: 10px 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 13px;
    /* border: solid 1px #ddd; */
    box-shadow: rgba(99, 99, 99, 0.56) 0px 0px 7px 1px
}

.map .block-icon-vessel {
    /* padding: 5px; */
    /* background-color: #f6f6f6; */
    background-color: white;
    margin-bottom: 5px;
    border-radius: 6px;
    box-shadow: rgba(99, 99, 99, 0.30) 0px 1px 4px 0px;
}

.map .block-icon-vessel:last-of-type{
    margin-bottom: 0;
}

.map .block-icon {
    /* padding: 1px; */
    /* background-color: #f6f6f6; */
    border-radius: 6px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.map img {
    pointer-events: none;
    height: 20px;
    width: 20px;
}

.block-opt {
    /* position: relative; */

    display: flex;
    flex-direction: row;
    /* grid-template-columns: auto auto; */
    /* grid-template-rows: auto; */
    /* margin: 5px; */
    /* border-radius: 10px; */
    /* box-shadow: 0 5px 10px rgb(0 0 0 / 30%); */
}

.block-opt button {
    border: none;
    /* background-color: white; */
    font-size: 10px;
    /* padding: 8px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: transparent;
}

.block-opt button:first-of-type{
    /* border-radius: 10px 10px 0 0; */
}

.block-opt button:last-of-type{
    /* border-radius: 0 0 10px 10px; */
}

.block-opt .text {
    /* background-color: white; */
    color: black;
    align-items: center;
}

.block-opt .text span {
    margin-right: 4px;
}

.block-opt .text img {
    /* height: 20px;
    width: 20px; */
}

.block-opt .img {
    /* background-color: white; */
    color: black;
    font-size: 10px;

    align-items: center;
}



.block-opt .img span {
    margin-right: 4px;
}

.block-opt .img img {
    /* height: 20px;
    width: 20px; */
}

.block-opt .tweet {
    /* background-color: rgb(29, 155, 240); */
    /* background-color: white; */
    color: black;

}

.block-opt .tweet span {
    margin-right: 4px;
}

.block-opt  img {
    height: 30px;
    width: 30px;
}

.block-opt .add_icon {
    position: absolute;
    width: 15px;
    right: 3px;
    top: -8px;
}


.post-field .publish {
    background-color: black;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 25px;
}