.taskbar .mobile_nav .back {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  /* content: ''; */
  border-radius: 6px;
  border: none;
  background-color: transparent;
  padding: 0;
  position: relative;
}

.taskbar .mobile_nav .back span{
  display: flex;
  width: 2px;
  height: 11px;
  /* content: ''; */
  border-radius: 27px;
  /* border: solid 2px #fbfbfb8c; */
  background-color: #fbfbfb;
  position: absolute;
}

.taskbar .mobile_nav .back span:first-of-type{
  rotate: 230deg;
  top: -1px;
}

.taskbar .mobile_nav .back span:last-of-type {
  rotate: 130deg;
  top: 5px;
}

.taskbar .mobile_nav .home {
  width: 15px;
  height: 15px;
  border-radius: 5px;
  border: solid 2px #fbfbfb;
  background-color: transparent;
  padding: 0;
}

.taskbar .mobile_nav .running_apps{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-width: 15px;
  height: 15px;
  border: none;
  background-color: transparent;
  padding: 0;
}

.taskbar .mobile_nav .running_apps span{
  display: flex;
  width: 2px;
  height: 13px;
  content: '';
  border-radius: 27px;
  /* border: solid 2px #fbfbfb8c; */
  background-color: #fbfbfb;
  /* position: absolute; */
}

/* .taskbar .mobile_nav .running_apps::before {
  left: -5px;
}

.taskbar .mobile_nav .running_apps::after {
  left: 5px;
} */


.taskbar .system_start_button {
  display: none;
}


.taskbar .desktop_status{
  display: none;

}

.taskbar .desktop_search{
  display: none;

}

@media (min-width: 700px) {
  .taskbar {
    width: 100vw;
    height: 45px;
    background-color: white;
    /* position: fixed; */
    bottom: -1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .taskbar .mobile_nav{
    display: none;
  }

  .taskbar .system_start_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 45px;
  }

  .taskbar .system_start_button button{
    width: 35px;
    height: 35px;
    background-color: #171718;
    border: none;
  }

  .taskbar .desktop_search{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    max-width: 300px;
    height: 100%;
    border: solid 1px #ddd;
  }

  .taskbar .desktop_search img {
    width: 20px;
    margin: 0px 11px;
    pointer-events: none;
}

  .taskbar .desktop_search input{
    width: 100%;
    max-width: 250px;
    height: 100%;
    /* padding: 0 5px; */
    outline: none;
    border: none;
  }


  .taskbar .tasks {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: start;
    margin-left: 14px;
  }

  .taskbar .desktop_status {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 16px;
  }



  .taskbar .desktop_status .item {
    width: 28px;
    height: 28px;
  }

  .taskbar .desktop_status .wifi {
    width: 20px;
    height: 20px;
  }

  .taskbar .desktop_status .bluetooth {
    width: 20px;
    height: 20px;
  }

  .taskbar .desktop_status .item img{
    width: 100%;
  }

  .taskbar .desktop_status .date{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.83em;
 
  }

  .taskbar .desktop_status .date span{
    padding: 0 5px;
  }
  
  .taskbar .tasks .task {
    width: 34px;
    height: 40px;
    margin: 0 2px;
    border-bottom: solid #4f4f81 2px;
  }
  
  .taskbar .tasks .task img{
    width: 100%;
  }
}