
.chat {
  --message-font-size: 14px;
  --message-line-height: 1.3333;
  --message-font-weight: 400;

  --message-reference-font-size: 0.85em;
  --message-reference-line-height: 1.3333;
  --message-reference-font-weight: 400;
  --message-reference-max-width: 300px;

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #1a1a1a;
  position: relative;
  justify-content: start;
  align-items: center;
}

.md {

}

.md[data-page="chat"] .chat,
.sm[data-page="chat"] .chat {
  display: flex;
}

.md[data-page="rooms"] .chat,
.sm[data-page="rooms"] .chat {
  display: none;
}

.md[data-page="rooms"] .no_chat,
.sm[data-page="rooms"] .no_chat {
  display: none;
}

.md[data-page="rooms"] .chat,
.sm[data-page="rooms"] .chat {
  display: none;
}

.md[data-page="initialScreen"] .chat,
.sm[data-page="initialScreen"] .chat {
  position: absolute;
  align-items: center;
  justify-content: center;
}

.chat .header {
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #131313;
  z-index: 1;
  flex-shrink: 0;
}

.chat .header .return_btn{
  /* width: 100%; */
  display: none;
  justify-content: start;
  /* padding: 7px 0; */
  /* align-items: center; */
  justify-self: center;
}

.md .header .return_btn,
.sm .header .return_btn{
  /* width: 100%; */
  display: flex;
  justify-content: start;
  /* padding: 7px 0; */
  /* align-items: center; */
  justify-self: center;
}

.md .header .return_btn button,
.sm .header .return_btn button {
  /* padding: 5px 0; */
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #131313;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.md .header .return_btn button img,
.sm .header .return_btn button img{
  width: 15px;
}

.chat .header .avatar {
  width: 100%;
  max-width: 35px;
  height: 35px;

  border-radius: 50%;
  display: flex;
  flex-direction: row;
  margin: 0 15px;
  background-color: #2f2f2f;
  overflow: hidden;
}

.chat .header .avatar img{
  object-fit: cover;
  width: 100%;
}

.chat .header .username {
  color: white;
  font-size: 0.75em;
}

.messages {
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-bottom: 150px;
}

.messages::-webkit-scrollbar {
  width: 10px;
}

.messages::-webkit-scrollbar-track {
  background: #292929; 
}

.messages::-webkit-scrollbar-thumb {
  background-color: rgb(117, 117, 117);
  border-radius: 20px;       
  border: 3px solid #292929; 
}

.chat .previous_messages {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  padding-top: 40px;
  position: relative;
  width: 100%;
}

.chat .no_chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  position: relative;
}

.chat .previous_messages .no_chat_icon_left {
  display: flex;
  justify-content: right;
  width: 100%;
  padding: 20px 45px 20px 20px;
}

.chat .current_messages .no_chat_icon_left {
  display: flex;
  justify-content: end;
  width: 100%;
  padding: 20px 45px 20px 20px;
}

.chat .current_messages .no_chat_icon_right {
  display: flex;
  width: 100%;
  padding: 20px 20px 20px 45px;
}

.chat .current_messages .no_chat_icon_left img,
.chat .current_messages .no_chat_icon_right img {
  width: 122px;
}

.chat .previous_messages .no_chat_icon_left img,
.chat .previous_messages .no_chat_icon_right img {
  width: 122px;
}

.chat .previous_messages .no_chat_icon_right .dialog_bigger {
  width: 244px
}

.chat .current_messages .no_chat_icon_right .dialog_bigger {
  width: 244px
}


.chat  .old_message .right_message{
  position: absolute;
  background-color: white;
  color: #737373;
  max-width: 300px;
  border-radius: 47px 47px 8px 47px;
  box-shadow: inset -23px -20px 10px #0000003d;
  padding: 10px 13px;
  z-index: 2;
  top: -87px;
  left: -23px;
}


.chat .no_chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  position: relative;
  max-width: 562px;
  width: 100%;
}

.chat .no_chat .no_chat_text{
  color: white;
  position: absolute;
  text-align: center;
  z-index: 1;
  text-shadow: 1px 1px 5px rgb(51, 51, 51);
  padding: 40px;
}

.chat .no_chat .no_chat_text p{
  font-size: 0.8em;
  color: #979797;
  text-shadow: 1px 1px 5px rgb(0, 0, 0);
  margin-bottom: 50px;
}

.chat .no_chat .no_chat_text button{
  display: none;
  width: 100%;
  padding: 10px 5px;
  margin-top: 50px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
}

.md .no_chat .no_chat_text button,
.sm .no_chat .no_chat_text button{
  display: block;

}

.chat .no_chat .no_chat_icon_left {
  display: flex;
  justify-content: end;
  width: 100%;
  padding: 20px 45px 20px 20px;
}

.chat .no_chat .no_chat_icon_right {
  display: flex;
  width: 100%;
  padding: 20px 20px 20px 45px;
}

.chat .no_chat .no_chat_icon_left img,
.chat .no_chat .no_chat_icon_right img {
  width: 122px;
  -webkit-user-drag: none;
  pointer-events: none;
}

.chat .no_chat .no_chat_icon_right .dialog_bigger {
  width: 244px;
  -webkit-user-drag: none;
  pointer-events: none;
}

.mobile .chat{
  display: none;
}

@media (max-width: 600px) {
  .chat {
    --message-font-size: 14px;
    --message-line-height: 1.3333;
    --message-font-weight: 400;
    --message-reference-font-size: 0.70em;
    --message-reference-line-height: 1.3333;
    --message-reference-font-weight: 400;
    --message-reference-max-width: 250px;
  
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #1a1a1a;
    position: relative;
    justify-content: start;
    align-items: center;
  }
}