.post_container {
  position: absolute;
  width: 100%;
  height: calc(100% - 80px);
  background-color: white;
  z-index: 2;
  padding-top: 70px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  overflow-y: auto;
  margin-top: 19px;
  color: #000;
}

.md .post_container,
.sm .post_container {
  align-items: center;
  justify-content: unset;
  flex-direction: column;
}

/* .post_header {
  width: 100%;
  display: flex
;
  flex-direction: row;
  justify-content: center;

}

.post_header .header_content {
  max-width: 650px;
  width: 100%;
  padding-top: 70px;

  flex-direction: column;

}

.post_header .header_spacing {
  max-width: 650px;
  width: 100%;
  padding-top: 70px;

  flex-direction: column;

}

.post_header .header_content .topic{
  font-size: 3em;
  color: #ffffff;
  background-color: #2184CB;

  display: block;
  max-width: 140px;
  width: 100%;
  padding: 1px 20px;
  margin: 30px 0;
}

.post_header .header_content .title{
  font-size: 9em;
  color: black;
  margin: 30px 0 10px 0;

  width: 100%;
  padding: 1px 20px;

}

.post_header .header_content .subtitle{
  font-size: 3em;
  color: black;

  width: 100%;
  padding: 1px 20px;
  margin-bottom: 30px;
}

.post_header .header_content .data{
  font-size: 2.5em;
  color: black;
  border-bottom: solid 4px black;
  margin-left: 20px ;

}

.post_container .post_body {
  width: 100%;
  padding-top: 70px;
  display: flex;
  flex-direction: row;

  justify-content: center;
}

.post_container .post_body .post_blocks {
  max-width: 650px;
  width: 100%;

  display: flex;
  flex-direction: column;

  margin: 30px 20px 0 20px;
}

.post_container .post_body .post_blocks .block{
  margin: 13px 0;
}

.post_container .post_body .post_blocks .block img{
  width: 100%;
  margin-bottom: 7px;
}

.post_container .post_body .post_blocks .img .image_description{
  font-size: 2.4em;
  font-weight: 700;
  color: #343434;
}

.post_container .post_body .post_blocks .block{
  width: 100%;
}

.post_container .post_body .post_blocks .text {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 3em;
}

.post_container .post_body .more_content{
  display: flex;
  flex-direction: column;
   align-items: center;
  max-width: 350px;
}

.post_container .post_body .more_content .ad{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

}

.post_container .post_body .more_content .ad img{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 230px;
}

.post_container .post_body .more_content .more_posts{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

.post_container .post_body .more_content .more_posts .mini_post{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 10px 0;
}

.post_container .post_body .more_content .more_posts .mini_post img{
  max-width: 170px;
  width: 100%;
}

.post_container .post_body .more_content .more_posts .mini_post span{
  font-size: 3em;
} */


















.post_container .post {

  max-width: 650px;
  width: 100%;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
}

.nm .post_container .post {

  /* max-width: 650px; */
  min-width: 450px;
}

.post .topic{
  font-size: 3em;
  color: #ffffff;
  background-color: #2184CB;
  /* padding: 5px 25px; */
  display: block;
  max-width: 140px;
  width: 100%;
  padding: 1px 20px;
  margin: 30px 0;
}

.post .title{
  font-size: 9em;
  color: black;
  margin: 30px 0 10px 0;
  /* padding: 5px 25px; */
  /* display: block; */
  /* max-width: 140px; */
  width: 100%;
  padding: 1px 20px;
  /*margin: 30px 0; */
}

.post .subtitle{
  font-size: 3em;
  color: black;
  /* margin: 30px 0; */
  /* padding: 5px 25px; */
  /* display: block; */
  /* max-width: 140px; */
  width: 100%;
  padding: 1px 20px;
  margin-bottom: 30px;
}

.post .data{
  font-size: 2.5em;
  color: black;
  border-bottom: solid 4px black;
  margin-left: 20px ;

  /* padding: 1px 20px; */
  /* display: block; */
  /* max-width: 140px; */
  /* width: 100%; */
  /* padding: 1px 20px; */
  /*margin: 30px 0; */
}

.post .post_body{
  margin: 30px 20px 0 20px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
}

.post .post_body .block{
  width: 100%;
  margin: 13px 0;
  display: flex;
  flex-direction: column;
}

.post .post_body .block img{
  object-fit: contain;
  width: 100%;
  max-height: 396px;
  margin-bottom: 7px;
}


.post .post_body .img .image_description{
  font-size: 2.4em;
  font-weight: 700;
  color: #292929;
}

.post .post_body .img a{
  font-size: 2.4em;
  font-weight: 700;
  color: #424242;
  text-decoration: underline;
}

.post .post_body .text {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 3em;
}

.post .post_body .youtube iframe {
  /* display: flex; */

  width: 100%;
  margin: 10px 0;
}

.post_container .more_content{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  width: 100%;
  margin-top: 500px;
  
}

.md .post_container .more_content,
.sm .post_container .more_content{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: unset;
  width: 100%;
  margin-top: unset;
  padding: 0 20px;
  
}

.post_container .more_content .ad{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* max-width: 200px; */
}

.post_container .more_content .ad img{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 230px;
}


.md .post_container .more_content .ad img,
.sm .post_container .more_content .ad img{
  max-width: 300px;
}

.post_container .more_content .more_posts{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
    margin: 40px 0;
}

.post_container .more_content .more_posts .mini_post{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 7px 0;
}

.post_container .more_content .more_posts .mini_post img{
  max-width: 170px;
  width: 100%;
  margin-right: 5px;
}

.post_container .more_content .more_posts .mini_post .mini_post_details{
  display: flex;
  flex-direction: column;
}

.post_container .more_content .more_posts .mini_post .mini_post_title{
  font-size: 2.5em;
  font-weight: 700;
  color: #000000;
  display: box;
  display: -webkit-box;
  box-orient: vertical;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  overflow: hidden;
}

.post_container .more_content .more_posts .mini_post .mini_post_data{
  font-size: 1.6em;
  font-weight: 600;
  border-bottom: solid 1px #000000;
  width: fit-content;
}

.post_container .more_content .more_posts .mini_post .mini_post_subtitle{
  font-size: 2em;
  font-weight: 600;
  line-height: 12px;
  width: fit-content;
  max-height: 24px;
  overflow: hidden;
}




