.create_topic_background{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 50%;
  top: 0;
  left: 0;
  z-index: 199;
}

.create_topic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 270px;
  height: 100%;
  max-height: 280px;
  position: absolute;
  inset: 0;
  margin: auto;
  border-top: solid 25px black;
  border-radius: 15px;
  background-color: aliceblue;
  z-index: 200;
}


.create_topic .close_btn{
  /* position: relative; */
  /* width: 100%; */
}

.create_topic .close_btn span{
  position: absolute;
  font-size: 3em;
  text-shadow: 0 0 1px black ;
  right: 20px;
  top: 9px;
}

.create_topic .alert {
  color: #cc2a2a;
  font-weight: 700;
  font-size: 2.6em;
  
  animation: insertLinkAlert 5s linear normal;

  /* width: 0;
  height: 0; */
  overflow: hidden;
  margin: 0;
}
/* 
@keyframes insertLinkAlert{
  0%{


    height: 0;
  }
  10%{
    height: auto;

  }


  90%{
    height: auto;
  
  }
  100%{
    height: 0%;
  }
} */

.create_topic label {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  /* text-align: right; */
  width: 100%;
  max-width: 200px;
}

.create_topic label span{
  color: #4a4a4a;
  font-weight: 600;
  font-size: 2.6em;
  margin: 9px 0;
}

.create_topic label input{
  background-color: #D9D9D9;
  border: solid 1px #d6d6d6;
  padding: 8px 10px;
  border-radius: 10px;
  outline: none;
}

.create_topic button{
  padding: 10px;
  border: none;
  background-color: #000000;
  color: #ffffff;
  border-radius: 10px;
  width: 100%;
  max-width: 200px;
  margin-top: 20px;
}