.mouse_position {


  display: flex;
  flex-direction: row;
  background-color: black;
  position: absolute;
  justify-self: center;
  margin-top: 10px;

}

.mouse_position .info {
  padding: 10px 20px;
  border: solid 1px #ddd;
  color: white;
  position: relative;
}

.mouse_position .info span{
  position: absolute;
  border: solid 1px #ddd;
  padding: 0 3px;
  border-radius: 8px;
  top: -14px;
  left: -1%;
  background-color: #000;
}



#square {
  --border-width: 1px;
  width: 250px;
  height: 150px;

  position: absolute;
  background-color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



#square .header {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#square .middle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 99%;
  height: 100%;
}

#square .footer {
  display: flex;
  flex-direction: row;
  width: 99%;
}



#square .corner{
  width: 2px;
  height: 2px;
  background-color: #ddd;
}

#square .up_right, .down_left{
  cursor: nw-resize;
}

#square .down_right, .up_left{
  cursor: ne-resize; 
}

#square .header .top{
  width: 100%;
  height: var(--border-width);
  background-color: #ddd;
  cursor: n-resize;
}



#square .middle .resize{
  width: var(--border-width);;
  height: 100%;
  background-color: #ddd;
  cursor:e-resize;
}


#square .footer .bottom{

  height: var(--border-width);
  width: 100%;
  background-color: #ddd;
  cursor: n-resize;
}


#square .resize {
  background-color: #ddd;
  
  /* border: dashed 1px black; */
}



#square .squareContent{
  width: 100%;
  height: 100%;
  /* position: absolute; */
  background-color: black;
}




