.nav-bar{
    /* position: absolute; */
    position: sticky;
    top: 0;
    background-color: #000;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 50px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
}


.nav-bar img{
    height: 35px;
}

.nav-bar .navigation-opts a{
    color: white;
    text-decoration: none;
    font-size: 3em;
    font-family: var(--general-font);
}

@media(max-width: 800px){
    /* .nav-bar{
        
        height: 62px;
    } */

    .nav-bar img {
        height: 37px;
    }
    
}



@media(max-width: 700px){
    .nav-bar{
        padding: 0 50px;
        height: 75px;
    }

    .nav-bar img{
        height: 30px;
    }
    
}


    .md .nav-bar{
        padding: 0 50px;
        height: 75px;
    }

    .md .nav-bar img{
        height: 30px;
    }



@media(max-width: 600px){
    .nav-bar{
        padding: 0 50px;
        height: 62px;
    }

    .nav-bar img{
        height: 27px;
    }
    
}

@media (max-width: 550px) {
    .nav-bar {
        height: 62px;
        padding: 0 34px;
    }
}

@media (max-width: 400px) {
    .nav-bar {
        height: 56px;
        padding: 0 20px;
    }

    .nav-bar img{
        height: 22px;

    }
}

.sm .nav-bar {
    height: 56px;
    padding: 0 20px;
}

.sm .nav-bar img{
    height: 22px;

}
