.post-simulation{
    position: absolute;
    display: none;
    overflow: auto;
    background-color: white;
    z-index: 1000;
    height: 100%;
    width: 100%;
    
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.post-simulation .simulation-btn .publish button{
    position: fixed;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: none;
    color: white;
    background-color: black;
    margin: 6px;

}

.post-simulation .simulation-btn .return button{
    position: fixed;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    margin: 6px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: white;
    box-shadow: 0 5px 10px rgb(0 0 0 / 30%);
}

.post-simulation .simulation-btn .return button img{
    width: 20px;
    height: 20px;
}

.post-simulation .simulated-post{
    margin-top: 105px;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    max-width: 788px;
    width: 100%;
    /*height: 100%; */
    background-color: white;
}

.post-simulation .simulated-post .simulated-header{
    
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 17px;
}


.post-simulation .simulated-post .simulated-title{
    font-size: 2.5rem;
}

.post-simulation .simulated-post .simulated-data{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    font-size: 12px;
}

.post-simulation .simulated-blocks{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.post-simulation .simulated-blocks .simulated-block{
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.post-simulation .simulated-blocks .img{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #c1c1c1;
	font-size: 11px;
}

.post-simulation .simulated-blocks .img .simulated-img-details .simulated-description{
    margin: 10px 0;
    color: #c1c1c1;
	font-size: 12px;
}

.post-simulation .simulated-blocks .img .simulated-img-details .simulated-link{
    display: flex;
    justify-content: center;
    margin: 5px;
}

.post-simulation .simulated-blocks .img .simulated-img-details .simulated-link a{
    
    color: #c1c1c1;
	font-size: 12px;
}

.post-simulation .simulated-blocks .img img{
    object-fit: contain;
	width: 100%;
	
    margin: 5px 0;
}

.post-simulation .simulated-blocks .txt{
    padding: 0 10px;
    align-items: unset;
    justify-content: unset;
    font-size: 3.2rem;
    line-height: 29px;
    flex-direction:column;
}

.post-simulation .simulated-blocks .yt{
    padding: 0 10px;
}

.post-simulation .simulated-blocks .simulated-block .simulated-block-content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-simulation .simulated-blocks .yt .simulated-block-content iframe{
    width: 100%;
}

.twitter-tweet {
    width: 100% !important;
}

.twitter-tweet iframe{
    width: 100% !important;
}
