

#post-content .youtube {
        /* background-color: #f6f6f6; */
    /* display: flex; */
    /* justify-content: center; */
    /* width: 100%; */
    /* min-height: 70px; */
    border: solid 2px var(--block-color);
    background-color: var(--block-color);
    width: 100%;
    position: relative;
    padding: 0;
}

#post-content .youtube iframe{
    /*position: absolute; */
    /* top: 0; */
    /* left: 0; */
    width: 100%;
    
    /* height: 100%; */
}

/* #post-content .block-vessel .tweet .block-ctrl{
    
}

#post-content .block-vessel .tweet .block-ctrl button{
    padding: 6px 8px;
} */